<div class="col-sm-12">
  <div class="input-group index-filter-button">
    <span class="input-group-btn">
      <button {{action 'toggleFilter'}} class="btn btn-default" type="button">
        <span class="icon {{if collapsed "icon-chevron-down" "icon-chevron-right" }} icon-chevron-right"></span>
        Filter
      </button>
    </span>
    <form {{action 'quickSearch' on='submit'}} id="quick-search">
      {{input type="text" value=term  class="form-control js-quick-search" placeholder="Quick search.."}}
    </form>
  </div>
  {{#if collapsed}}
    <div id="table-filter" class="well filter-well">
      <div>
        {{yield}}
      </div>
    </div>
  {{/if}}
</div>
