<header class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header col-sm-3 col-md-2">
                  {{#link-to "dashboard.inspections" class="logo navbar-brand"}}
                      S & W
                  {{/link-to}}
                    <span class="navbar-toggle" id="sidebar-toggle"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                {{#if session.isAuthenticated}}
                  <div class="col-sm-9 col-md-10">
                    <div class="navbar-right">
                      <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu {{if isHidden "" "open"}}">
                          <a {{action 'dropDown'}} href="#" class="dropdown-toggle">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>{{authManager.user.email}}<i class="caret"></i></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li class="user-header bg-light-blue">
                              <p>{{authManager.user.email}}</p>
                            </li>
                            <li class="user-footer">
                              <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Account</a>
                              </div>
                              <div class="pull-right">
                                <a {{action 'logout'}} href="#" class="btn btn-default btn-flat">Logout</a>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                {{/if}}
            </div>
        </div>
    </nav>
</header>
