<ul class="nav nav-sidebar">
  <li class="sidebar-menu-item">
    <a {{action 'toggleSubMenu'}} href="#">
        <span class="icon icon-eye-open"></span>
        <span class="text">{{title}}</span>
        <span class="icon {{if isHidden "icon-chevron-left" "icon-chevron-down" }}  pull-right"></span>
    </a>
    <ul class="{{if isHidden "collapse"}} nav nav-pills nav-stacked">
      {{yield}}
    </ul>
  </li>
</ul>
